<section>
    <img src="/assets/destination/image-mars.png" alt="" />
    <div class="pageMainContentArea">
        <div>
            <app-destination-sub-header></app-destination-sub-header>
            <div class="mainContentTitle">MARS</div>
            <div class="mainContent">
                Don’t forget to pack your hiking boots.
                You’ll need them to tackle Olympus Mons,
                the tallest planetary mountain in our solar system.
                It’s two and a half times the size of Everest!
            </div>

            <div class="hr"></div>
            
            <div class="infoArea">
                <div class="distanceInfoArea">
                    <div class="avgDistance">AVG. DISTANCE</div>
                    <div class="distance">225 MIL. KM</div>
                </div>
                <div class="timeInfoArea">
                    <div>
                        <div class="estTime">EST. TRAVEL TIME</div>
                        <div class="time">9 MONTHS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>