<section>
    <img src="/assets/destination/image-europa.png" alt="" />
    <div class="pageMainContentArea">
        <div>
            <app-destination-sub-header></app-destination-sub-header>
            <div class="mainContentTitle">EUROPA</div>
            <div class="mainContent">
                The smallest of the four Galilean moons orbiting Jupiter,
                Europa is a winter lover’s dream.
                With an icy surface,
                it’s perfect for a bit of ice skating,
                curling, hockey,
                or simple relaxation in your snug wintery cabin.
            </div>

            <div class="hr"></div>
            
            <div class="infoArea">
                <div class="distanceInfoArea">
                    <div class="avgDistance">AVG. DISTANCE</div>
                    <div class="distance">628 MIL. KM</div>
                </div>
                <div class="timeInfoArea">
                    <div>
                        <div class="estTime">EST. TRAVEL TIME</div>
                        <div class="time">3 YEARS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>