 <header class="headerArea">  
      <div>
          <img src="/assets/shared/logo.svg" alt="Page logo" />
      </div>
      <div class="headerOptionBtnsArea">
          <a href="" class="headerOptionBtn"><span class="optionNumber">00</span>HOME</a>
          <a href="" class="headerOptionBtn"><span class="optionNumber">01</span>DESTINATION</a>
          <a href="" class="headerOptionBtn"><span class="optionNumber">02</span>CREW</a>
          <a href="" class="headerOptionBtn"><span class="optionNumber">03</span>TECHNOLOGY</a>
      </div>
  </header>

    <main>
        <div class="pageArea">
            <div>
                <div class="pageIntroduction">So, you want to travel to</div>
                <div class="pageTitle">Space</div>
                <div class="pageContent">
                Let’s face it; if you want to go to space, you might as well genuinely go to 
                outer space and not hover kind of on the edge of it. Well sit back, and relax 
                because we’ll give you a truly out of this world experience!
                </div>
            </div>
            <div class="exploreArea">
                <div class="explore">Explore</div>
            </div>
        </div>
    </main>