<header class="headerArea">  
    <div>
        <img src="/assets/shared/logo.svg" alt="Page logo" />
    </div>
    <div class="headerOptionBtnsArea">
        <a routerLink="/home" routerLinkActive="active"><span class="optionNumber">00</span>HOME</a>
        <a routerLink="/destination" routerLinkActive="active"><span class="optionNumber">01</span>DESTINATION</a>
        <a routerLink="/crew" routerLinkActive="active"><span class="optionNumber">02</span>CREW</a>
        <a routerLink="/technology" routerLinkActive="active"><span class="optionNumber">03</span>TECHNOLOGY</a>
    </div>
</header>
<router-outlet></router-outlet>