@font-face {
    font-family: "Barlow";
    src: url("../assets/fonts/Barlow/Barlow-Regular.ttf");
}


.headerArea {
    display: flex;
    align-items: center;
    padding: 60px 60px 15px;
}


.headerOptionBtnsArea{
    display: flex;
    flex-grow: 1;
    justify-content: end;
    width: 700px;
    max-width: 100%;
}

.headerOptionBtnsArea a{
    color: #D0D6F9;
    text-decoration: none;
    font-family: "Barlow";
}  

.optionNumber {
    font-weight: bold;
    margin: 0px 8px 0px 35px;
    color: white;
}

.active{}