<section>  
    <img src="/assets/destination/image-moon.png" alt="" />
    <div class="pageMainContentArea">
        <div>
            <app-destination-sub-header></app-destination-sub-header>
            <div class="mainContentTitle">MOON</div>
            <div class="mainContent">
                See our planet as you’ve never seen it before.
                A perfect relaxing trip away to help regain perspective and come back refreshed.
                While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
            </div>

            <div class="hr"></div>
            
            <div class="infoArea">
                <div class="distanceInfoArea">
                    <div class="avgDistance">AVG. DISTANCE</div>
                    <div class="distance">384,400 KM</div>
                </div>
                <div class="timeInfoArea">
                    <div>
                        <div class="estTime">EST. TRAVEL TIME</div>
                        <div class="time">3 DAYS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  