<section>
    <img src="/assets/destination/image-titan.png" alt="" />
    <div class="pageMainContentArea">
        <div>
            <app-destination-sub-header></app-destination-sub-header>
            <div class="mainContentTitle">TITAN</div>
            <div class="mainContent">
                The only moon known to have a dense atmosphere other than Earth,
                Titan is a home away from home (just a few hundred degrees colder!).
                As a bonus,
                you get striking views of the Rings of Saturn.
            </div>

            <div class="hr"></div>
            
            <div class="infoArea">
                <div class="distanceInfoArea">
                    <div class="avgDistance">AVG. DISTANCE</div>
                    <div class="distance">1.6 BIL. KM</div>
                </div>
                <div class="timeInfoArea">
                    <div>
                        <div class="estTime">EST. TRAVEL TIME</div>
                        <div class="time">7 YEARS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
